<footer class="footer" id="footer">

  <div class="footer__left">
    <div class="footer__logo">
      <%= link_to root_path, style: "pointer-events: none", class: "footer__logo-link" do %>
        <%= image_tag "log.png", class: "lazy" , alt: "eridon" %>
      <% end %>
    </div>
    <div class="footer__copyright"> © 2021 Eridon Bud</div>
    <div class="footer__made-in">Cайт розроблений в SVDigital M </div>
    <a style="font-size: 14px" href="ua/sitemap.html" class="main-menu__link ">Карта сайту</a>
  </div>

  <div class="footer__contacts">
    <div class="f-contacts">
      <div class="f-contacts__title">контакти</div>
      <a href="tel:+380443543566" class="f-contacts__tel">+38 (098) 755-86-91</a>
      <a href="mailto:8prokudin@gmail.com" class="f-contacts__email">8prokudin@gmail.com </a>
    </div>

    <div class="f-contacts">
      <div class="f-contacts__title">адреса</div>
      <div class="f-contacts__text">
        Україна, 29000, Хмельницька обл.,
        місто Хмельницький,
        Вулиця СОБОРНА,
        будинок 55
      </div>
    </div>
  </div>

  <div class="footer__right">
    <ul class="socials">
      <li class="socials__item"><a rel="noopener noreferrer nofollow" target="_blank" href="https://www.facebook.com/profile.php?id=100004191791567" class="socials__link socials__link--fb"></a></li>
    </ul>
    <a href="ua.html#contacts-popup" data-fancybox class="footer__btn">Передзвоніть мені</a>
  </div>

</footer>