<header class="header">


    <%= link_to root_path, style: "pointer-events: none", class: "header__logo" do %>
    <%= image_tag "log.png", class: "lazy" , alt: "eridon" %>
  <% end %>


  <div class="header__lang lang">
    <div class="lang__current">ua</div>
<!--    <ul class="lang__list">-->
<!--      <li class="lang__item">-->
<!--        <a href="ru.html"-->
<!--           class="lang__link">-->
<!--          RU-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="lang__item">-->
<!--        <a href="en.html"-->
<!--           class="lang__link">-->
<!--          EN-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
  </div>
</header>