<section class="s-news">
  <div class="container">
    <h2 class="s-news__title section-title ">Новини</h2>
    <div class="s-news__slider">
      <a href="ua/news/article-24.html" class="s-news__item">
        <span class="s-news__date">24.01.2020</span>
        <h3 class="s-news__subtitle">
          Донорський день в OLDES                               </h3>
        <span class="s-news__img center-img">
                                <picture>
                                    <source srcset="/media/article-block/article-image-24-352.jpg"
                                            media="(max-width: 412px)">
                                    <source srcset="/media/article-block/article-image-24-339.jpg"
                                            media="(max-width: 768px)">
                                  <%= image_tag "pixel.png", class: "lazy" , alt: "article-24" %>
                                </picture>
                            </span>
        <span class="s-news__btn"></span>
      </a>
      <a href="ua/news/article-22.html" class="s-news__item">
        <span class="s-news__date">27.12.2019</span>
        <h3 class="s-news__subtitle">
          OLDES вітає всіх з Новим роком!                                </h3>
        <span class="s-news__img center-img">
                                <picture>
                                    <source srcset="/media/article-block/article-image-22-352.jpg"
                                            media="(max-width: 412px)">
                                    <source srcset="/media/article-block/article-image-22-339.jpg"
                                            media="(max-width: 768px)">
                                  <%= image_tag "pixel.png", class: "lazy" , alt: "article-24" %>

                                </picture>
                            </span>
        <span class="s-news__btn"></span>
      </a>
      <a href="ua/news/article-21.html" class="s-news__item">
        <span class="s-news__date">23.12.2019</span>
        <h3 class="s-news__subtitle">
          Співпраця OLDES та RKD                                </h3>
        <span class="s-news__img center-img">
                                <picture>
                                    <source srcset="/img/no_image.png"
                                            media="(max-width: 412px)">
                                    <source srcset="/img/no_image.png"
                                            media="(max-width: 768px)">
                                  <%= image_tag "pixel.png", class: "lazy" , alt: "article-24" %>

                                </picture>
                            </span>
        <span class="s-news__btn"></span>
      </a>
      <a href="ua/news/article-20.html" class="s-news__item">
        <span class="s-news__date">23.12.2019</span>
        <h3 class="s-news__subtitle">
          Реконструкція молочно-товарної ферми у Переяслав-Хмельницькому районі                                </h3>
        <span class="s-news__img center-img">
                                <picture>
                                    <source srcset="/media/article-block/article-image-20-352.jpg"
                                            media="(max-width: 412px)">
                                    <source srcset="/media/article-block/article-image-20-339.jpg"
                                            media="(max-width: 768px)">
                                  <%= image_tag "pixel.png", class: "lazy" , alt: "article-24" %>

                                </picture>
                            </span>
        <span class="s-news__btn"></span>
      </a>


    </div>
  </div>
</section>