<!--<div class="content">-->

<!--  <div class="news-single">-->
<!--    <div class="news-single__media-wrap">-->
<!--      <div class="news-single__media">-->
<!--        <div class="news-single__media-item news-single__img">-->
<!--          <picture>-->
<!--            <source srcset="/media/article/article-image-1-412.jpg"-->
<!--                    media="(max-width: 412px)">-->
<!--            <source srcset="/media/article/article-image-1-768.jpg"-->
<!--                    media="(max-width: 768px)">-->
<!--            <img src="../media/article/article-image-1-762.jpg"-->
<!--                 alt="article-1">-->
<!--          </picture>-->
<!--        </div>-->

<!--        <div class="news-single__media-item news-single__video">-->
<!--          <iframe src="https://www.youtube.com/embed/sOIQoLUWZao"-->
<!--                  frameborder="0"-->
<!--                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--                  allowfullscreen></iframe>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
<!--    <div class="news-single__content">-->

<!--      <div class="breadcrumbs breadcrumbs--news">-->
<!--        <ul class="breadcrumb"><li><a href="../en.html">Home</a></li><li><a href="../news.html">News</a></li><li>«Eridon BUD» LLC has received the upscale status «Leader of the Year 2017» </li></ul>        </div>-->
<!--      <div class="news-single__date">26.04.2018</div>-->

<!--      <div class="news-single__text">-->
<!--        <h1 class="news-single__title">«Eridon BUD» LLC has received the upscale status «Leader of the Year 2017» </h1>-->

<!--        <p>We are proud to report that “Eridon BUD” LLC has become one of the leaders of the best Ukrainian enterprises according to the National Business Rating and has received the status of «Leader of the Year 2017». It confirms the financial and economic success and high business reputation of the company.</p><p>An effective strategy of enterprise development, correct management decisions and the conscientious work of the whole team became the basis of significant successes.</p><p>It’s especially pleasant to realize that “Eridon BUD” has been holding leadership for several years.&nbsp;</p>-->
<!--        <div class="news-single__block">-->
<!--          <p>This is a success worthy of a leader!</p><p>National Business Rating in Ukraine is a part of the International Union of National Business Ratings, which work for more than 13 years and has offices in eight European and Asian countries. The leader's status is a sign of reliability, stability and confidence.</p></div>-->



<!--        <div class="news-single__slider">-->
<!--          <picture><source srcset="https://www.eridonbud.com/media/article-block/article-block-image-59-903.png?ts=1612084788" media="(max-width: 1920px)"><img src="../media/article-block/article-block-image-59-903.png%3Fts=1612084788" alt="«Eridon BUD» LLC has received the upscale status «Leader of the Year 2017»  - Eridon Bud - Image - 2" title="«Eridon BUD» LLC has received the upscale status «Leader of the Year 2017»  - Eridon Bud - 2"></picture>                                                        <picture><source srcset="https://www.eridonbud.com/media/article-block/article-block-image-60-903.jpg?ts=1612084788" media="(max-width: 1920px)"><img src="../media/article-block/article-block-image-60-903.jpg%3Fts=1612084788" alt="«Eridon BUD» LLC has received the upscale status «Leader of the Year 2017»  - Eridon Bud - Image - 3" title="«Eridon BUD» LLC has received the upscale status «Leader of the Year 2017»  - Eridon Bud - 3"></picture>                                                        <picture><source srcset="https://www.eridonbud.com/media/article-block/article-block-image-61-903.jpg?ts=1612084788" media="(max-width: 1920px)"><img src="../media/article-block/article-block-image-61-903.jpg%3Fts=1612084788" alt="«Eridon BUD» LLC has received the upscale status «Leader of the Year 2017»  - Eridon Bud - Image - 4" title="«Eridon BUD» LLC has received the upscale status «Leader of the Year 2017»  - Eridon Bud - 4"></picture>                                            </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <%#= render "home/news" %>
<!--</div>-->





